{% extends "base.html" %}
{%block title%}Login{%endblock%}
{%block style%}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 15px;
  background: #1abc9c;
  overflow: hidden;
}
.wrapper {
  max-width: 500px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}
.wrapper .title {
  height: 120px;
  background: #16a085;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .al {
  padding: 25px 35px;
}
.wrapper .al .row {
  height: 60px;
  margin-top: 15px;
  position: relative;
}
.wrapper .al .row input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 70px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 18px;
  transition: all 0.3s ease;
}
.al .row input:focus {
  border-color: #16a085;
}
.al .row input::placeholder {
  color: #999;
}
.wrapper .al .row i {
  position: absolute;
  width: 55px;
  height: 100%;
  color: #fff;
  font-size: 22px;
  background: #16a085;
  border: 1px solid #16a085;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .al .pass {
  margin-top: 12px;
}
.wrapper .al .pass a {
  color: #16a085;
  font-size: 17px;
  text-decoration: none;
}
.wrapper .al .pass a:hover {
  text-decoration: underline;
}
.wrapper .al .button input {
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: #16a085;
  border: 1px solid #16a085;
  cursor: pointer;
}
.al .button input:hover {
  background: #12876f;
}
.wrapper .al .signup-link {
  text-align: center;
  margin-top: 45px;
  font-size: 17px;
}
.wrapper .al .signup-link a {
  color: #16a085;
  text-decoration: none;
}
.al .signup-link a:hover {
  text-decoration: underline;
}
#rd{
  margin:10px;
}
  {%endblock%}

{%block content%}
  <div class="wrapper">
    <div class="title"><span>Login Form</span></div>
    <div class="al">
        <input id="csrf" type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="row">
        <i class="fas fa-user"></i>
        <input id="username" type="text" placeholder="Email or Phone" required />
      </div>
      <div class="row">
        <i class="fas fa-lock"></i>
        <input id="password" type="password" placeholder="Password" required />
      </div>
        <div id="rd" style="color:red"></div>  
      <div class="pass"><a href="#">Forgot password?</a></div>
      <div class="row button">
        <input id="submit"type="submit" value="Login" />
      </div>
      <div class="signup-link">Not a member? <a href="/register">Signup now</a></div>
    </div>
  </div>
{% endblock %}

{%block scripts%}
<script src="{{url_for('login.static' , filename='js/login_script.js')}}"></script>
{%endblock%}                        